<fieldset>
  <h3><%= l(:label_enabled_graphs) %></h3>

  <p><%= content_tag(:label, l(:label_graphs_old_issues)) %>
    <%= check_box_tag "settings[open_aging_issues_enabled]", 1, @settings[:open_aging_issues_enabled] ? true : false %>
  </p>

  <p><%= content_tag(:label, l(:label_graphs_issue_growth)) %>
    <%= check_box_tag "settings[total_issues_over_time_enabled]", 1, @settings[:total_issues_over_time_enabled] ? true : false %>
  </p>

  <p><%= content_tag(:label, l(:label_graphs_bug_growth)) %>
    <%= check_box_tag "settings[total_bugs_over_time_enabled]", 1, @settings[:total_bugs_over_time_enabled] ? true : false %>
  </p>

  <p><%= content_tag(:label, l(:label_graphs_bug_tracker)) %>
    <%= select_tag("settings[bug_tracker]", options_from_collection_for_select(Tracker.all, :id, :name, @settings[:bug_tracker]), :multiple => true) %>
  </p>

  <p><%= content_tag(:label, l(:label_graphs_total_vs_closed_issues)) %>
    <%= check_box_tag "settings[total_vs_closed_issues_enabled]", 1, @settings[:total_vs_closed_issues_enabled] ? true : false %>
  </p>

  <p><%= content_tag(:label, l(:label_graphs_burndown)) %>
    <%= check_box_tag "settings[burndown_enabled]", 1, @settings[:burndown_enabled] ? true : false %>
  </p>

  <p><%= content_tag(:label, l(:label_graphs_burnup)) %>
    <%= check_box_tag "settings[burnup_enabled]", 1, @settings[:burnup_enabled] ? true : false %>
  </p>

  <%= hidden_field_tag "settings[dummy_value]" %>

</fieldset>